/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 14 ago 2024, 11:41:20
    Author     : lohan
*/

body {
    background-color: #f8f9fa;
}
.header-content .logo img {
    height: 50px;
}
.user-icon img {
    height: 40px;
}
.request-section,
.faq-section {
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}
.request-section {
    background-image: url(../../style/img/sop.jpg);
}
.faq-section {
    background-image: url('img/sup.jpg');
}
.content-overlay {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
}
.footer-links a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 5px;
}
.footer-links a:hover {
    text-decoration: underline;
}
.social-media img {
    height: 30px;
}
