div{
    width: 900px;
    margin: auto; 
}

img{
    width: 400px;
    height: 300px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 20px;
}
h5{
    padding-left: 70px; 
    font-family: impact;
    color: white;
}

p{
    padding-left: 70px; 
    color: blue;
}
